body
{
	font-family: 		Tahoma,Arial;
	font-size:			medium;
	margin:				5% 20%;
	background-color:	#EFF2FB;
}

#container
{
	background-color:	#fff;
	padding:			20px 20px;
	border:				1px solid #ccc;
}

#name
{
	font-family:		Verdana;
	color:				#08088A;
	border-bottom:		5px solid #CEE3F6;
}

#about h2
{
	color:			#81BEF7;
}
